<center><b>In the name of God</b></center>

<b>Course</b>: Machine Learning
<br>
<b>Description:</b> HomeWork 2 | Question 1
<br>
<b>Developer</b>: Alireza Mazochi (400131075)

# Dataset Information

<b>Name</b>: Heart Disease Dataset<br>
<b>Refrence</b>: https://www.kaggle.com/johnsmith88/heart-disease-dataset

## Context

This data set dates from 1988 and consists of four databases: Cleveland, Hungary, Switzerland, and Long Beach V. It contains 76 attributes, including the predicted attribute, but all published experiments refer to using a subset of 14 of them. The "target" field refers to the presence of heart disease in the patient. It is integer valued 0 = no disease and 1 = disease.

## Content

<nl>
    <li>age: age in years</li>
    <li>sex: (1 = male; 0 = female)</li>
    <li>cp: chest pain type (4 values)</li>
    <li>restcg: resting blood pressure (in mm Hg on admission to the hospital)</li>
    <li>chol: serum cholestoral in mg/dl</li>
    <li>fbs: fasting blood sugar > 120 mg/dl</li>
    <li>restecg: resting electrocardiographic results (values 0,1,2)</li>
    <li>thalach: maximum heart rate achieved</li>
    <li>exang: exercise induced angina(1 = yes; 0 = no)</li>
    <li>oldpeak: ST depression induced by exercise relative to rest</li>
    <li>slope: the slope of the peak exercise ST segment</li>
    <li>ca: number of major vessels (0-3) colored by flourosopy</li>
    <li>thal: 0 = normal; 1 = fixed defect; 2 = reversable defect</li>
</nl>

In [1]:
# Import Allowed Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("heart.csv")

In [12]:
data_train = data.head(int(0.8*len(data)))
data_test = data.tail(len(data) - int(0.8*len(data)))

In [18]:
data_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,58,1,2,105,240,0,0,154,1,0.6,1,0,3,1
816,70,1,1,156,245,0,0,143,0,0.0,2,0,2,1
817,45,1,0,115,260,0,0,185,0,0.0,2,0,2,1
818,42,1,3,148,244,0,0,178,0,0.8,2,2,2,1
819,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0

In [41]:
set(data["slope"].values)

{0, 1, 2}

In [20]:
data_train_x = data_train.drop(columns=["target"])
data_train_y = data_train[["target"]]

In [34]:
classes = [0, 1]

In [39]:
p_prior = np.zeros(2)
for class_ in classes:
    p_prior[class_] = len(data_train_y[data_train_y["target"]==class_]) / len(data_train_y)

In [45]:
discrete_features = ["sex", "cp", "fbs", "restecg", "exang", "slope", "ca", "thal"]
continuous_features = ["age", "trestbps", "chol", "thalach", "oldpeak"]

In [57]:
# Some checking
for feature in discrete_features:
    if len(set(data[feature].values)) > 5:
        print(set(data[feature].values))
        raise Exception(f"It seems to feature {feature} isn't a discrete feature")
        
for feature in continuous_features:
    if len(set(data[feature].values)) < 20:
        print(set(data[feature].values))
        raise Exception(f"It seems to feature {feature} isn't a continous feature")

In [64]:
p_likelihood_discrete = []
discrete_features_value_number = dict()

for class_ in classes:
    p_likelihood_discrete.append(dict())
    for feature in discrete_features:
        discrete_features_value_number[feature] = len(set(data[feature].values))
        p_likelihood_discrete[class_][feature] = np.zeros(discrete_features_value_number[feature])
    
for class_ in classes:
    data_class = data_train[data_train["target"]==class_]
    for feature in discrete_features:
        for value in range(discrete_features_value_number[feature]):
            p_likelihood_discrete[class_][feature][value] = len(data_class[data_class[feature]==value]) / len(data_class)